body{
    text-align: center;
}
div{
    height: 100px;
    width:50px;
    display: inline-block;
    border: 2px solid black;
    
    
}
#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content:center;
    align-items: flex-start;
    /*align-content: flex-start;*/
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
    height: 200px;
   /* flex-shrink: 1;*/
    flex-grow: 1;
}
#box3{
    background-color: greenyellow;
    height: 75px;
}
#box4{
    background-color: brown;
    
}
#box5{
    background-color: blueviolet;
}
