body{
    background-color: rgb(203, 234, 223);
}
.box{
    background-color: rgb(247, 247, 252);
    border: 1px solid #000;
    height: 500px;
    width: 500px;
    margin: 100px 70px 70px 500px;
}

h1{
    text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#name{
    height: 30px;
    width: 300px;
    margin-left:100px;
}

#number
{
    height: 30px;
    width: 300px;
    margin-left: 100px;
}
#date{
    height: 30px;
    width: 300px;
    margin-left: 100px;
}

#dist{
    height: 30px;
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
}

#city{
    height: 30px;
    width: 300px;
    margin-left: 100px;
}
#s1{
    border: 1px solid;
    height: 30px;
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: rgb(10, 215, 10);
    color:aliceblue;
}
#s2{
    border: 1px solid;
    height: 30px;
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: rgb(2, 2, 38);
    color:aliceblue;
}